<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>26</ApplicationRevision>
    <ApplicationVersion>1.1.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Debug</Configuration>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://resultstreeproddata001.blob.core.windows.net/timstool/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <ManifestCertificateThumbprint>5F75A1856247C3BC27EAB1BD36E654B9EDD815BC</ManifestCertificateThumbprint>
    <ManifestKeyFile>TimsTool_TemporaryKey.pfx</ManifestKeyFile>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>Tims Tool</ProductName>
    <PublishDir>bin\publish\</PublishDir>
    <PublishUrl>bin\publish\</PublishUrl>
    <PublisherName>Tim Cooke</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <TargetFramework>net6.0-windows10.0.17763.0</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <History>True|2023-02-16T19:32:48.3931207Z;True|2023-01-06T15:57:56.8147878+00:00;True|2023-01-06T15:57:46.4997904+00:00;False|2023-01-06T15:57:29.2507895+00:00;True|2023-01-06T15:42:05.5078156+00:00;True|2023-01-06T15:41:12.2848160+00:00;True|2022-12-21T17:14:39.1816646+00:00;True|2022-12-21T12:21:58.6950799+00:00;True|2022-12-20T17:52:36.8438604+00:00;True|2022-12-20T17:12:55.6138539+00:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.6.0.x64">
      <Install>True</Install>
      <ProductName>.NET Desktop Runtime 6.0.9 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>