<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <ApplicationRevision>23</ApplicationRevision>
    <ApplicationVersion>1.1.0.*</ApplicationVersion>
    <BootstrapperEnabled>True</BootstrapperEnabled>
    <Configuration>Debug</Configuration>
    <CreateWebPageOnPublish>True</CreateWebPageOnPublish>
    <GenerateManifests>true</GenerateManifests>
    <Install>True</Install>
    <InstallFrom>Web</InstallFrom>
    <InstallUrl>https://resultstreetestdata001.blob.core.windows.net/timstool/</InstallUrl>
    <IsRevisionIncremented>True</IsRevisionIncremented>
    <IsWebBootstrapper>True</IsWebBootstrapper>
    <ManifestCertificateThumbprint>5F75A1856247C3BC27EAB1BD36E654B9EDD815BC</ManifestCertificateThumbprint>
    <ManifestKeyFile>TimsTool_TemporaryKey.pfx</ManifestKeyFile>
    <MapFileExtensions>True</MapFileExtensions>
    <OpenBrowserOnPublish>False</OpenBrowserOnPublish>
    <Platform>Any CPU</Platform>
    <ProductName>Tims Tool - TEST VERSION</ProductName>
    <PublishDir>bin\publish\</PublishDir>
    <PublishUrl>bin\publish\</PublishUrl>
    <PublisherName>Tim Cooke</PublisherName>
    <PublishProtocol>ClickOnce</PublishProtocol>
    <PublishReadyToRun>False</PublishReadyToRun>
    <PublishSingleFile>False</PublishSingleFile>
    <SelfContained>False</SelfContained>
    <SignatureAlgorithm>sha256RSA</SignatureAlgorithm>
    <SignManifests>True</SignManifests>
    <TargetFramework>net6.0-windows10.0.17763.0</TargetFramework>
    <UpdateEnabled>True</UpdateEnabled>
    <UpdateMode>Foreground</UpdateMode>
    <UpdateRequired>False</UpdateRequired>
    <WebPageFileName>Publish.html</WebPageFileName>
    <CreateDesktopShortcut>True</CreateDesktopShortcut>
    <History>True|2023-02-13T16:47:09.2020573Z;True|2023-01-06T16:00:02.3008450+00:00;True|2023-01-06T15:44:07.8594512+00:00;True|2022-12-21T17:16:30.2414220+00:00;True|2022-12-21T17:14:06.1206707+00:00;True|2022-12-21T17:13:15.9351912+00:00;True|2022-12-21T12:25:38.1760239+00:00;True|2022-12-21T12:24:27.5885340+00:00;True|2022-12-18T13:04:03.6472134+00:00;True|2022-12-18T12:58:53.1700984+00:00;True|2022-12-08T06:24:09.3616911+00:00;True|2022-11-25T12:31:39.4060512+00:00;True|2022-11-25T10:15:00.4066493+00:00;True|2022-11-23T17:32:30.1424681+00:00;True|2022-11-23T09:17:50.9601740+00:00;True|2022-11-23T09:17:33.5361776+00:00;True|2022-11-22T10:32:12.5734833+00:00;True|2022-11-21T17:38:40.2292107+00:00;True|2022-11-21T12:25:45.5698371+00:00;True|2022-11-21T12:25:24.0928364+00:00;True|2022-11-21T12:24:51.0528405+00:00;True|2022-11-20T18:28:26.4626515+00:00;</History>
  </PropertyGroup>
  <ItemGroup>
    <BootstrapperPackage Include="Microsoft.NetCore.DesktopRuntime.6.0.x64">
      <Install>True</Install>
      <ProductName>.NET Desktop Runtime 6.0.9 (x64)</ProductName>
    </BootstrapperPackage>
  </ItemGroup>
</Project>